<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Your visits</title>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" th:href="@{/}">
        <img class="rounded" src="https://as2.ftcdn.net/jpg/01/62/97/37/500_F_162973775_ON8JPQ2vcmu5hiHv1lZWSwDnaPEuma01.jpg" width="30" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " th:href="@{/services}">Show our services</a>
            <a class="nav-item nav-link " th:href="@{/visits/choose-month}">Book your visit! </a>
            <a class="nav-item nav-link active" th:href="@{/customers/find-customer}">Find your visit <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link " th:href="@{/admin/employees/restricted-pages}">Restricted Pages </a>
        </div>
    </div>
</nav>
<br><br><br>
<!--End of navbar-->
<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Service</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempVisit : ${visitList}">
            <td th:text="${tempVisit.date}"/>
            <td th:text="${tempVisit.timeOfVisit}"/>
            <td th:text="${tempVisit.service}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>