<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Visit Form</title>
    <style>
        .setOnCenter{
            height: 200px;
            width: 1000px;
            position: fixed;
            top: 20%;
            left: 50%;
            margin-top: -100px;
            margin-left: -200px;
        }
    </style>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" th:href="@{/}">
        <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " th:href="@{/services}">Show our services</a>
            <a class="nav-item nav-link active" th:href="@{/visits/choose-month}">Book your visit! <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/customers/find-customer}">Find your visit </a>
            <a class="nav-item nav-link" th:href="@{/admin/employees/restricted-pages}">Restricted Pages </a>
        </div>
    </div>
</nav>
<br><br><br>
<!--End of navbar-->

<div class="setOnCenter">
    <form action="#" th:action="@{/visits/save}" th:object="${visit}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{timeOfVisit}">
        <input type="hidden" th:field="*{date}">
        <input type="hidden" th:field="*{employee}">
        <div th:if="${timeError}" class="alert alert-danger col-xs-offset-1 mb-4 col-4">
            <span th:text="${timeError}"></span>
        </div>

        <div th:if="${invalidFields}" class="alert alert-danger col-xs-offset-1 mb-4 col-4">
            <span th:text="${invalidFields}"></span>
        </div>

        <input type="text" th:field="*{customer.firstName}" placeholder="First Name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{customer.lastName}" placeholder="Last Name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{customer.phoneNumber}" placeholder="Mobile Phone Number" class="form-control mb-4 col-4">
        <input type="text" th:field="*{customer.email}" placeholder="email" class="form-control mb-4 col-4">

        <select th:field="*{service}">
            <option th:each="serv : ${servicesList}" th:value="${serv.name}" th:text="${serv.name}"/>
        </select><br><br>

        <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
    </form>
</div>
</body>
</html>