<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Choose Visit</title>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" th:href="@{/}">
        <img class="rounded" src="https://as2.ftcdn.net/jpg/01/62/97/37/500_F_162973775_ON8JPQ2vcmu5hiHv1lZWSwDnaPEuma01.jpg" width="30" height="30" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link " th:href="@{/services}">Show our services</a>
            <a class="nav-item nav-link active" th:href="@{/visits/choose-month}">Book your visit! <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/customers/find-customer}">Find your visit </a>
            <a class="nav-item nav-link" th:href="@{/admin/employees/restricted-pages}">Restricted Pages </a>
        </div>
    </div>
</nav>
<br><br><br>
<!--End of navbar-->

<div class="container">
    <h1>Visit Date:</h1>
    <h1 th:text="${visit.date}"/>
    <hr>
<form action="#" th:action="@{/visits/add}" th:object="${visit}" method="post">
    <input type="hidden" th:field="*{date}">
    <input type="hidden" th:field="*{employee}">
    Select time of visit: <select th:field="*{timeOfVisit}" class="form-control mb-4 col-4">
    <option
            th:each="tempTime : ${availTimes}"
            th:value="${tempTime}"
            th:text="${tempTime}"
    />
</select>
    <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
</form>

</select>
</div>
<hr>
</body>
</html>